.guitar-box{ 
    width: 120px;
    height: 150px; border: 1px solid blue; border-radius: 30px; text-align: center;
    padding-top: 10px; position: relative;
    margin: 5 px;
    display: inline-block;


}
.guitar-box :hover { border-radius: 10px; box-shadow: 0 0 7px rgb(130, 28, 28); }
.guitar-box-img{
    width: 80px;
    height:100px;

}
.guitar-box-name{
    position: absolute;
    left:30px;
    bottom: 20px;
}
.guitar-box-price{
    position: absolute;
    left: 50px;
    bottom: 5px;
    font-weight: bold;
    color:blue;
}